body {
  background-color: #f5f3da;
}

.text {
  font-family: 'Fredoka One', cursive;
  color: #c7731c;
}

.center {
    display: block;
    margin: 20px auto 20px auto;
    width: 175px;
}

.submit {
  margin-top: -11px;
  background-color: #c7731c;
  border-color: #c7731c;
}

.submit:hover {
    background-color: #9e5b14;
    border-color: #9e5b14;
}

.change-state {
  height: 30px;
  padding-top: 2px;
  background-color: #c7731c;
  border-color: #c7731c;
}

.change-state:hover {
    background-color: #9e5b14;
    border-color: #9e5b14;
}

.list {
  float: left;
  color: #c7731c;
  text-align: center;
  padding: 0 10px 10px 10px;
  margin: 10px 1% 10px 0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  min-width: 350px;
  width: 49%;
  background-color: white;

}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  border-radius: 5px;
}
